@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
}

body {
    @apply bg-black text-white text-sm antialiased;
}

.font-hand {
    font-family: var(--font-hand);
}

@layer components {
    .glass {
        @apply bg-white/10 border border-white/20;
    }
    .glass-light {
        @apply bg-white/70 border border-white/100;
    }

    .btn {
        @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-white transition hover:opacity-90 active:scale-98;
    }
}

.container-icon-ability img.ver {
    width: auto;
    height: 40px;
}
.container-icon-ability img.hor {
    width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    .container-icon-ability img.ver {
        width: auto;
        height: 30px;
    }
    .container-icon-ability img.hor {
        width: 40px;
        height: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #d10a8a transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
