@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
}

body {
    @apply bg-black text-white text-sm antialiased;
}

.font-hand {
    font-family: var(--font-hand);
}

@layer components {
    .glass {
        @apply bg-white/10 border border-white/20;
    }
    .glass-light {
        @apply bg-white/70 border border-white/100;
    }

    .btn {
        @apply cursor-pointer rounded-full px-8 py-2.5 font-medium text-white transition hover:opacity-90 active:scale-98;
    }
}

.container-icon-ability img.ver {
    width: auto;
    height: 40px;
}
.container-icon-ability img.hor {
    width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    .container-icon-ability img.ver {
        width: auto;
        height: 30px;
    }
    .container-icon-ability img.hor {
        width: 40px;
        height: auto;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
